<div class='form'>
<h1>Atualizar cadastro do produto: </h1>

<form name='form1' action='/controllerUpdate' method='post'>
    <p>Nome Produto:</p>
    <input type='text' name='nome' id='nome' placeholder='Nome:' value='{{nome}}'>
    <p>Descrição:</p>
    <input type='text' name='descricao' id='descricao' placeholder='Descrição:' value='{{descricao}}'>
    <p>Marca:</p>
    <input type='text' name='marca' id='marca' placeholder='Marca:' value='{{marca}}'>
    <p>Modelo:</p>
    <input type='text' name='modelo' id='modelo' placeholder='Modelo:' value='{{modelo}}'>
    <p>Preço:</p>
    <input type='text' name='preco' id='preco' placeholder='Preço:' value='{{preco}}'><br><br>
    <input type='submit' name='btnSubmit' id='btnSubmit' value='Salvar'>
</form>
</div>
